<template>
<div>
  <div id="hexHolder">
  <!-- <ul id="hexGrid"> -->
      <transition-group name="card" tag="ul" id="hexGrid">
      <li class="hex card" v-for="(n, index) in items" :key='index'>
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class="img-holder">
              <img v-if="index%5 === 0" src="static/images/types/code.png" alt="" />
              <img v-else src="static/placeholder2.png" alt="" />
            </div>
            <h1>This is a title {{ n.id }}</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      </transition-group>
    <!-- </ul> -->
    </div>
    <div id="footer">

    </div>
</div>
</template>

<script>
export default {
  name: 'Main',
  methods: {
    add: function () {
      console.log('dupa')
      this.items.push({
        id: Math.floor(Math.random() * 10)
      })
    }
  },
  mounted: function () {
    this.$nextTick(function () {
      for (var i = 0; i < 100; i++) {
        console.log('jelen')
        setTimeout(
          () => {
            this.add()
          }
        , 50 * i
        )
      }
    })
  },
  data: function () {
    return {
      items: [
      ]
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: #42b983;
}

.card {
  transition: all 0.5s;

}
.card-enter, .card-leave-to
/* .card-leave-active for <2.1.8 */ {
  opacity: 0;
  transform: scale(0);
}
.card-enter-to {
  opacity: 1;
  transform: scale(1);
}

.card-leave-active {
  /*position: absolute;*/
}

.card-move {
  opacity: 1;
  transition: all 0.5s;
}

#footer {
  background-color: rgba(0,0,0,1);
  height: 100px;
  width: 100%;
  position: absolute;
  margin-bottom: 0;
  z-index: 1;
}
</style>
