<template>
<div id="header">
    <h1>
    Just A Test.
    </h1>
</div>
</template>

<script>
export default {
  name: 'Pagetop',
  methods: {},
  mounted: function () {},
  data: function () {
    return {
      test: ''
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  padding-top: 10px;
}
#header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 10px 28px -5px rgba(0,0,0,0.75);
  height: 80px;
}

</style>
