<template>
  <div id="app">
    <pagetop></pagetop>
    <router-view/>
  </div>
</template>

<script>
import Pagetop from '@/components/Pagetop'

export default {
  name: 'app',
  components: { pagetop: Pagetop }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
