*
  margin: 0
  padding: 0

#hexHolder
  width: 120%

  #hexGrid
    display: flex
    flex-wrap: wrap
    width: 100%
    margin: 0
    overflow: hidden
    font-family: 'Raleway', sans-serif
    list-style-type: none
    transform: translate(-150px, -150px)
  

.hex
  position: relative
  visibility: hidden
  outline: 1px solid transparent
  font-size: 1em
  /* fix for jagged edges in FF on hover transition */
  &::after
    content: ''
    display: block
    padding-bottom: 87.1%

.hexIn
  position: absolute
  width: 99.1%
  padding-bottom: 114.851%
  /* =  width / sin(60) */
  margin: 0
  overflow: hidden
  visibility: hidden
  outline: 1px solid transparent
  /* fix for jagged edges in FF on hover transition */
  transform: rotate3d(0, 0, 1, -60deg) skewY(30deg)
  *
    position: absolute
    visibility: visible
    outline: 1px solid transparent
    /* fix for jagged edges in FF on hover transition */

.hexLink
  display: block
  width: 100%
  height: 100%
  text-align: center
  color: #fff
  overflow: hidden
  transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg)  

/*** HEX CONTENT *********************************************************************

.hex
  .img-holder
    left: -100%
    right: -100%
    width: auto
    height: 100%
    margin: 0 auto
    transform: rotate3d(0, 0, 0, 0deg)
    text-align: center
    background-color: rgba(216, 216, 216, 1)
    img
      height: 100%
      opacity: 0.5
      transform: translateX(-50%)

  h1, p
    color: black  
    width: 100%
    padding: 5%
    box-sizing: border-box
    // background-color: rgba(240, 112, 46, 1)
    background-color: rgba(56, 145, 223, 0.4)
    font-weight: 300
    transition: transform .2s ease-out, opacity 1s ease-out
  h1
    bottom: 50%
    padding-top: 50%
    font-size: 1.3em
    z-index: 1
    transform: translate3d(0, -100%, 0)
    &::after
      content: ''
      position: absolute
      bottom: 0
      left: 45%
      width: 10%
      text-align: center
      border-bottom: 1px solid #fff
  p
    top: 50%
    padding-bottom: 50%
    transform: translate3d(0, 100%, 0)

/*** HOVER EFFECT  *********************************************************************

.hexLink
  &:hover h1, &:focus h1, &:hover p, &:focus p
    -webkit-transform: translate3d(0, 0, 0)
    -ms-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

/*** HEXAGON SIZING AND EVEN ROW INDENTATION ****************************************************************
#hexGrid
  padding-bottom: 4.4%
.hex
  width: 12.5%
  /* = 100 /  */
  &:nth-child(15n + 1)
    /* first hexagon of even rows */
    margin-left: 6.25%
    /* = width of .hex / 2  to indent even rows */