body
    background-color: rgba(199, 199, 199, 1)
    // // // background-color: rgba(255, 255, 255, 1)
    overflow-x: hidden
    font-size: 14px


.fade-enter-active, .fade-leave-active
  transition: opacity .5s
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ 
  opacity: 0
